* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// import other SASS files
@import "./sass-utils/variables";
@import "./base/base-style";
@import "./base/typography";
@import "./components/buttons";
@import "./components/header";
@import "./components/footer";
@import "./components/navigations";
@import "./components/searchHotels";
@import "./pages/home.scss";



//end import other SASS files